# Git directories and files
.git/
.gitignore

# Node.js dependencies
Youtube_Video_Downloader_Frontend/package-lock.json

# .NET dependencies and build outputs
Youtube_Video_Downloader_Backend/bin/
Youtube_Video_Downloader_Backend/obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code directories
.vscode/

# Docker-related files
Dockerfile
docker-compose.yml

# Logs and temporary files
*.log
*.tmp

# Temporary and system files
*.DS_Store
Thumbs.db

# IDE-specific files
.idea/
*.iml
